#category-container {
    background: #E0E0E0;
    margin: 2rem 5rem;
}

.category-header {
    display: inline-block;  
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
    background: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.category-header h1 {
    margin: 0;
    padding: 0;
}


