@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    background-color: #E0E0E0;
    font-family: 'Oswald';
    text-wrap: normal;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 10rem;
}

.container h1 {
    background: white;
    padding: 0.5rem 2rem;
    margin: 1rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    display: inline-block;
    font-size: 2rem;
}

#movie-details .movie-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    background: white;
    padding: 2rem;
    margin: 1rem;
}






