body {
    background-color: #E0E0E0;
    font-family: 'Oswald';
    text-wrap: normal;
    margin: 0;
    padding: 0;
}
.movie-details {
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 1rem 5rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    grid-gap: 0;
    background: white;
    
}
h1{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
 }
.details-image {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border: 1px solid black;
 }
p{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 /3;
 }
ul {    
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
 }

