body {
    background-color: #E0E0E0;
    font-family: 'Oswald';
    text-wrap: normal;
    margin: 0;
    padding: 0;
}
.movie-details {
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 30rem;
    padding: 0;
    margin: 0;
    justify-content: center;
    text-align: center;
    grid-gap: 0;
}
.details-image {
    
    place-self: center;
    border: 1px solid black;
}
ul{
    place-self: center;
}
