@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
    background: url("/Images/astronomy-cosmos-dark-733475.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
}


h1 {
    font-family: 'Tangerine', cursive;
    color: #D4AF37;
    font-size: 10rem;
    margin: 0;
    margin-top: 5rem;
    padding: 0;
}

p {
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header a {
    color: white;
    background: #D4AF37;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    align-self: center;
}




 