@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');


body {
    background: url("/Images/Background2.jpg") no-repeat center center/cover;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0,0,0,0.6);
    padding: 2rem;
    margin: 9rem 15rem;
}


h1 {
    font-family: 'Tangerine', cursive;
    color: #D4AF37;
    font-size: 8rem;
    margin: 0;
}

p {
    font-size: 2rem;
    color: white;
    padding: 0;
    margin: 0 0 1rem 0;
}

header a {
    color: white;
    background: #D4AF37;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    align-self: center;
    transition: 0.3s;
}

header a:hover {
    margin-left: 0.5rem;
    transition: 0.3s;
}