
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disney!!!!!!!!!!!!</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <a href="/Movie/Index">Movie List</a>
</body>
</html>