
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disney!!!!!!!!!!!!</title>
</head>
<body>

    <!-- NavBar -->
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Movie">Movies</a></li>
        </ul>
    </nav>
       
    <a href="/Movie/Index">Movie List</a>
</body>
</html>