
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disney!!!!!!!!!!!!</title>
</head>
<body>
    <a href="/Movie/Index">Movie List</a>
</body>
</html>