
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Disney Review Site!</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/HomeIndex.css" />
    
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
            <li><a href="/Review">REVIEWS</a></li>
        </ul>
    </nav>

    <!-- Header: Welcome Page -->
    <header>
        <h1>The Disney Report</h1>
        <p>Your number one source for Disney movie reviews!</p>
        <a href="/Movie">CHECK OUT OUR MOVIES</a>
    </header>
</body>
</html>