@model IEnumerable<DisneyMovieReviewSite.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/CategoryIndex.css" />
</head>
<body>
    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <!-- Categories -->
    <section id="container">
        <div class="categories-container">
            <header>
                <h1>Movie Categories</h1>
            </header>
            <div class="category-card">
                @foreach (var category in Model)
                {
                    <a href="/Category/Details/@category.CategoryID">

                        <div class="category">
                            <h3>@category.CategoryName</h3>
                            <p>@category.Description</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>
</body>
</html>
