@model DisneyMovieReviewSite.Models.Review
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/ReviewCreate.css" />
    <title>Create</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <!-- Form -->
    <section id="container">
        <div class="form-container">
            <h1>Review</h1>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">

                            <input type="hidden" asp-for="MovieID" class="form-control" placeholder="@Model.MovieID">
                        </div>
                        <div class="form-group">
                            <label asp-for="ReviewContent" class="control-label">Your Review</label>
                            <input asp-for="ReviewContent" class="form-control" />
                            <span asp-validation-for="ReviewContent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserRating" class="control-label">Rating (1-5)</label>
                            <select name="UserRating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label">Username</label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </form>
                </div>
            </div>
            <a asp-action="../Movie/Index">Back to List</a>
        </div>
    </section>

</body>
</html>
