@model IEnumerable<DisneyMovieReviewSite.Models.Review>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
</head>
<body>
    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>
            <li><a href="/Review">REVIEWS</a></li>

        </ul>
    </nav>
    <header>
        <h1>Movie Reviews</h1>
    </header>
    <div>
        @foreach (var review in Model)
        {
            <a href="/Category/Details/@review.ReviewID">

                <div class="category">
                    <h3>@review.ReviewID</h3>
                    <p>@review.ReviewContent</p>
                </div>
            </a>
        }
    </div>
</body>
</html>
