
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <!-- NavBar -->
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Movie">Movies</a></li>
        </ul>
    </nav>

    <h1>The Little Mermaid</h1>
    <p>I love The Little Mermaid</p>
    <img src="~/Images/TheLittleMermaid.jpg" />
</body>
</html>
