@model DisneyMovieReviewSite.Models.Movie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <!-- NavBar -->
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Movie">Movies</a></li>
        </ul>
    </nav>
    
    <h1>@Model.Name</h1>
    <p>@Model.Content</p>
    <img src="~/Images/TheLittleMermaid.jpg" />
</body>
</html>
