
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- NavBar -->
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Movie">Movies</a></li>
        </ul>
    </nav>

    <h1>Disney Movies</h1>
    <ol>
        <li><a href="/Movie/Details/1">The Little Mermaid</a> <img src="~/Images/TheLittleMermaid.jpg" /></li>
        <li><a href="/Movie/Details/2">Aladdin</a> <img src="~/Images/Aladdin.jpeg" /></li>
        <li><a href="Movie/Details/3"></a> <img src="~/Images/LionKing.jpeg" /></li>
    </ol>
</body>
</html>
