@model IEnumerable<DisneyMovieReviewSite.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <!-- NavBar -->
    <nav>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Movie">Movies</a></li>
        </ul>
    </nav>

    <h1>Disney Movies</h1>
    <ol>
        @foreach (var movie in Model)
        {
            <li><a href="/Movie/Details/@movie.ID">@movie.Name</a> <img src=@movie.ImgPath /></li>
        }
        
        
    </ol>
</body>
</html>
