@model IEnumerable<DisneyMovieReviewSite.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Movie">MOVIES</a></li>
        </ul>
    </nav>

    <h1>Disney Movies</h1>
    <ol>
        @foreach (var movie in Model)
        {
            <li><a href="/Movie/Details/@movie.ID">@movie.Name</a> <img src="@movie.ImgPath" /></li>
        }


    </ol>
</body>
</html>
