@model IEnumerable<DisneyMovieReviewSite.Models.Movie>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Styles/Main.css" />
    <link rel="stylesheet" href="~/Styles/MovieIndex.css" />
</head>
<body>

    <!-- NavBar -->
    <nav id="navbar">
        <ul>
            <li><a href="/Home">HOME</a></li>
            <li><a href="/Category">CATEGORIES</a></li>
            <li><a href="/Movie">MOVIES</a></li>


        </ul>
    </nav>

    <div class="movie-list">
        <div class="movie-list-header">
            <h1>Featured Movies</h1>
        </div>
        <div class="movies-container">
            <ul>
                @foreach (var movie in Model)
                {
                    <li>
                        <div class="movie-container">
                            <img id="image" src="@movie.ImgPath" />
                            <a href="/Movie/Details/@movie.MovieID">@movie.Name</a>
                            <p>
                                @movie.ReleaseYear <br>
                                @movie.Rating out of 5 Stars
                            </p>
                        </div>
                    </li>
                }
            </ul>

        </div>
        <a href="/Movie/Create" />Add a New Movie>
    </div>

</body>
</html>
