
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h1>Disney Movies</h1>
<ol>
    <li><a href="/Movie/Details/1">The Little Mermaid</a> <img src="~/Images/TheLittleMermaid.jpg"/></li>    
    <li>Aladdin <img src="~/Images/Aladdin.jpeg" /></li>
    <li>Lion King <img src="~/Images/LionKing.jpeg" /></li>
    </ol>
</body>
</html>
